@import '../../constants';

.input {
    border-radius: $border-radius;
    border: 2px solid $color-light;
    background-color: $color-dark;
    color: $color-light;
    width: 30rem;
    position: relative;
    font-size: 2rem;
    padding: 0.5rem;

    &::placeholder {
        color: $color-light;
    }
}
