@import '../../constants';

html {
    font-size: 10px;
}

body {
    background-color: $color-light;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    text-align: center;
}
