@import '../../constants';

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid $color-light;
    border-radius: $border-radius;
    width: 20.2rem;
    height: 25.2rem;
    background-color: $color-dark;
    padding: 0.5rem;
    position: relative;
}

.card__image {
    display: inline-block;
    width: 99%;
    height: 15rem;
    border-radius: $border-radius;
}

.card__city, .card__price {
    font-size: 1.9rem;
    color: $color-add;
}

.card__street {
    font-size: 2rem;
    height: 2rem;
    overflow: hidden;
}

.card__detail {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    color: $color-bright;
}

.card__like {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $color-bright;
    -webkit-mask: url('../../assets/icons/like.svg') no-repeat center;
    mask: url('../../assets/icons/like.svg') no-repeat center;
    mask-size: contain;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.card__like.liked{
    -webkit-mask: url('../../assets/icons/liked.svg') no-repeat center;
    mask: url('../../assets/icons/liked.svg') no-repeat center;
}

.card_big {
    margin-top: 2rem;
    width: 40%;
    height: 100%;

    & .card__city, & .card__price {
        font-size: 2rem;
    }

    & .card__detail {
        display: flex;
        gap: 0.5rem;
        font-size: 1.8rem;
        color: $color-bright;
    }

    & .card__image {
        height: 30rem;
    }

    &_not-defined {
        background-color: red;
    }
}
