@import '../../constants';

.header__container {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 0;
}

.navigation__list {
    display: flex;
    gap: 1rem;
}

.link {
    font-size: 2rem;
}

.active {
    color: $color-bright;
}
